<IfModule mod_rewrite.c>
    Options +FollowSymLinks -Indexes
    RewriteEngine On
# LOG AND DENY ACCESS TO CORE DIRs
    RewriteRule "^(models|views|controllers|includes|forms|templates|sql|classes|settings|uploads)/(.*)$" "index.php?route=/app/home&m=deny&f=$1/$2" [NC,L]
# TRACE and TRACK HTTP methods disabled to prevent XSS attacks
    RewriteCond "%{REQUEST_METHOD}" "^TRAC[EK]"
    RewriteRule ".*" "-" [L,R=405]
# API
# never rewrite for existing files, directories and links
    RewriteCond "%{REQUEST_FILENAME}" "!-f"
    RewriteCond "%{REQUEST_FILENAME}" "!-d"
    RewriteCond "%{REQUEST_FILENAME}" "!-l"
    RewriteRule "^(api|api2)/([^/]*)/([^/]*)/([^/]*)(.*)$" "index.php?route=/$2/$3&m=$4&api=true" [QSA,L]
# Mobile
    RewriteCond "%{HTTP_USER_AGENT}" "android|blackberry|ipad|iphone|ipod|iemobile|opera mobile|palmos|webos|googlebot-mobile" [NC]
    RewriteCond "%{REQUEST_FILENAME}" "!-f"
    RewriteCond "%{REQUEST_FILENAME}" "!-d"
    RewriteCond "%{REQUEST_FILENAME}" "!-l"
    RewriteRule "^([^/]*)/([^/]*)/([^/]*)\.html$" "index.php?route=/$1/$2&m=$3&mobile=true" [QSA,L]
# Site
    RewriteCond "%{REQUEST_FILENAME}" "!-f"
    RewriteCond "%{REQUEST_FILENAME}" "!-d"
    RewriteCond "%{REQUEST_FILENAME}" "!-l"
    RewriteRule "^([^/]*)/([^/]*)/([^/]*)\.html$" "index.php?route=/$1/$2&m=$3" [QSA,L]
# always send 404 on missing files in these folders
    RewriteCond "%{REQUEST_FILENAME}" "!-f"
    RewriteCond "%{REQUEST_FILENAME}" "!-d"
    RewriteCond "%{REQUEST_FILENAME}" "!-l"
    RewriteRule "^(assets|skin|js|css|public)/(.*)$" "-" [R=404,L,NS]
# Short Hand Site
    RewriteCond "%{REQUEST_FILENAME}" "!-f"
    RewriteCond "%{REQUEST_FILENAME}" "!-d"
    RewriteCond "%{REQUEST_FILENAME}" "!-l"
    RewriteRule "^([^/]*)/([^/]*)/$" "index.php?route=/$1/$2&m=index" [QSA,L]
# rewrite everything not found to index.php
    RewriteCond "%{REQUEST_FILENAME}" "!-f"
    RewriteCond "%{REQUEST_FILENAME}" "!-d"
    RewriteCond "%{REQUEST_FILENAME}" "!-l"
    RewriteRule ".*" "index.php" [L]
</IfModule>

<Files *.php>
  Order allow,deny
  Deny from all
</Files>

<Files index.php>
  Order allow,deny
  Allow from all
</Files>